In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('titanic/train.csv')

In [26]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [27]:
df = df.drop(columns='Cabin', axis=1)

In [28]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [29]:
df.shape

(891, 11)

In [30]:
df = df.dropna()

In [31]:
df.shape

(712, 11)

In [32]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [33]:
y = df['Survived']

In [34]:
x = df[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [35]:
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [36]:
x = pd.get_dummies(x, columns=['Pclass','Sex','Embarked'])

In [37]:
x.head()

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,0,1,0,1,0,0,1
1,38.0,1,0,71.2833,1,0,0,1,0,1,0,0
2,26.0,0,0,7.9250,0,0,1,1,0,0,0,1
3,35.0,1,0,53.1000,1,0,0,1,0,0,0,1
4,35.0,0,0,8.0500,0,0,1,0,1,0,0,1

In [38]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train, y_train)
lr.coef_

/home/sujan/Desktop/Training/pyvenv/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([[-0.04092505, -0.36367538, -0.04722019,  0.00173027,  1.37631164,
         0.24860742, -0.95909413,  1.64938232, -0.9835574 ,  0.62771796,
        -0.13391462,  0.17202158]])

In [39]:
lr.intercept_

array([0.66582492])

In [40]:
lr.score(x_train, y_train)

0.8154657293497364

In [41]:
y_pred = lr.predict(x_test)

for idx, y in enumerate(y_test):
    print('Real: '+str(y)+' Predicted: '+ str(y_pred[idx]))

Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0

In [45]:
coef = lr.coef_

In [48]:
print(coef)
print(coef.shape)

[[-0.04092505 -0.36367538 -0.04722019  0.00173027  1.37631164  0.24860742
  -0.95909413  1.64938232 -0.9835574   0.62771796 -0.13391462  0.17202158]]
(1, 12)

In [42]:
coef = lr.coef_[0]
x_cols = x_train.columns
for i, col in enumerate(x_cols):
    print('Column:',col,"Coef:",coef[i])

Column: Age Coef: -0.04092505334749339
Column: SibSp Coef: -0.3636753768845113
Column: Parch Coef: -0.04722018979272005
Column: Fare Coef: 0.0017302738318908898
Column: Pclass_1 Coef: 1.3763116399744377
Column: Pclass_2 Coef: 0.24860741697121763
Column: Pclass_3 Coef: -0.9590941339449987
Column: Sex_female Coef: 1.6493823213402277
Column: Sex_male Coef: -0.9835573983395711
Column: Embarked_C Coef: 0.6277179608097787
Column: Embarked_Q Coef: -0.1339146216562165
Column: Embarked_S Coef: 0.17202158384709124

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
lr = LogisticRegression()
lr.fit(x,y)

/home/sujan/Desktop/Training/pyvenv/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: bad input shape ()

In [ ]:
lr.score(x,y)

In [ ]:
lr.coef_

In [ ]:
df_test = pd.read_csv('titanic/test.csv',sep=',')

In [ ]:
df_test.head()

In [ ]:
df_test.dropna(inplace=True)

In [ ]:
x_test = df_test[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [ ]:
x_test = pd.get_dummies(x_test, columns=['Pclass','Sex','Embarked'])
x_test.head()

In [ ]:
y_pred = lr.predict(x_test)

In [ ]:
y_pred