In [79]:
import pandas as pd

In [80]:
df = pd.read_csv('titanic/train.csv')

In [81]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [82]:
df = df.drop(columns='Cabin', axis=1)

In [83]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [84]:
df.shape

(891, 11)

In [85]:
df = df.dropna()

In [86]:
df.shape

(712, 11)

In [87]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [88]:
y = df['Survived']

In [89]:
x = df[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [90]:
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [91]:
x = pd.get_dummies(x, columns=['Pclass','Sex','Embarked'])

In [92]:
x.head()

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,0,1,0,1,0,0,1
1,38.0,1,0,71.2833,1,0,0,1,0,1,0,0
2,26.0,0,0,7.9250,0,0,1,1,0,0,0,1
3,35.0,1,0,53.1000,1,0,0,1,0,0,0,1
4,35.0,0,0,8.0500,0,0,1,0,1,0,0,1

In [93]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(x_train, y_train)
lr.coef_

c:\users\sujan\desktop\datascience\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

array([[-3.60631674e-02, -3.22782992e-01, -2.56246012e-03,
        -1.21345243e-03,  1.42925488e+00,  1.60609857e-01,
        -9.17842460e-01,  1.69126039e+00, -1.01923812e+00,
         5.86755425e-01,  3.58624950e-02,  4.94043544e-02]])

In [94]:
lr.intercept_

array([0.67202227])

In [95]:
lr.score(x_train, y_train)

0.7996485061511424

In [96]:
y_pred = lr.predict(x_test)

for idx, y in enumerate(y_test):
    print('Real: '+str(y)+' Predicted: '+ str(y_pred[idx]))

Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0

In [97]:
coef = lr.coef_[0]
x_cols = x_train.columns
for i, col in enumerate(x_cols):
    print('Column:',col,"Coef:",coef[i])

Column: Age Coef: -0.03606316741511991
Column: SibSp Coef: -0.32278299184727133
Column: Parch Coef: -0.002562460121922478
Column: Fare Coef: -0.0012134524276080215
Column: Pclass_1 Coef: 1.4292548768789999
Column: Pclass_2 Coef: 0.16060985731883382
Column: Pclass_3 Coef: -0.9178424598721706
Column: Sex_female Coef: 1.6912603901535157
Column: Sex_male Coef: -1.0192381158278572
Column: Embarked_C Coef: 0.5867554249558722
Column: Embarked_Q Coef: 0.03586249500198661
Column: Embarked_S Coef: 0.04940435436779688

In [98]:
from sklearn.linear_model import LogisticRegression

In [99]:
lr = LogisticRegression()
lr.fit(x,y)

c:\users\sujan\desktop\datascience\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: bad input shape ()

In [ ]:
lr.score(x,y)

In [ ]:
lr.coef_

In [ ]:
df_test = pd.read_csv('titanic/test.csv',sep=',')

In [ ]:
df_test.head()

In [ ]:
df_test.dropna(inplace=True)

In [ ]:
x_test = df_test[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [ ]:
x_test = pd.get_dummies(x_test, columns=['Pclass','Sex','Embarked'])
x_test.head()

In [ ]:
y_pred = lr.predict(x_test)

In [ ]:
y_pred