In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('titanic/train.csv')

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
df = df.drop(columns='Cabin', axis=1)

In [7]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [8]:
df.shape

(891, 11)

In [9]:
df = df.dropna()

In [10]:
df.shape

(712, 11)

In [11]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [12]:
y = df['Survived']

In [13]:
x = df[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [14]:
x = pd.get_dummies(x, columns=['Pclass','Sex','Embarked'])

In [15]:
x.head(1)

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.25,0,0,1,0,1,0,0,1

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [16]:
from sklearn.svm import SVC, LinearSVC

In [17]:
linear_svc = LinearSVC()

In [21]:
linear_svc.fit(x_train,y_train)

c:\users\sujan\desktop\datascience\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [22]:
linear_svc.coef_

array([[-0.00940083, -0.12970137,  0.05598333,  0.00818431,  0.58994162,
         0.0956947 , -0.37670504,  0.60641321, -0.29748192,  0.2917804 ,
         0.02596804, -0.00881715]])

In [23]:
linear_svc.intercept_

array([0.30893129])

In [24]:
linear_svc.score(x_train,y_train)

0.7293497363796133

In [25]:
y_pred = linear_svc.predict(x_test)

for idx, y in enumerate(y_test):
    print('Real: '+str(y)+' Predicted: '+ str(y_pred[idx]))

Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 0 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 0 Predicted: 0
Real: 1 Predicted: 0
Real: 0 Predicted: 0
Real: 0 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 0
Real: 1 Predicted: 1
Real: 1 Predicted: 1
Real: 0 Predicted: 1

In [27]:
coef = linear_svc.coef_[0]
x_cols = x_train.columns
for i, col in enumerate(x_cols):
    print("Column:",col, "Coef:",coef[i])

Column: Age Coef: -0.009400825798233713
Column: SibSp Coef: -0.12970136549420308
Column: Parch Coef: 0.055983329422755
Column: Fare Coef: 0.008184308282719802
Column: Pclass_1 Coef: 0.5899416247437123
Column: Pclass_2 Coef: 0.0956947030459823
Column: Pclass_3 Coef: -0.3767050400851146
Column: Sex_female Coef: 0.6064132102324924
Column: Sex_male Coef: -0.2974819225279015
Column: Embarked_C Coef: 0.29178040179808334
Column: Embarked_Q Coef: 0.025968035177044404
Column: Embarked_S Coef: -0.008817149270525843