In [1]:
import pandas as pd

C:\Users\Goldy\AppData\Local\Programs\Python\Python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
C:\Users\Goldy\AppData\Local\Programs\Python\Python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

Load the dataframe in pandas from csv file

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
df = df.drop('Cabin', axis=1)

In [5]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Embarked         2
dtype: int64

In [6]:
df.shape

(891, 11)

In [7]:
df = df.dropna()

In [8]:
df.shape

(712, 11)

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [10]:
y = df['Survived']

In [11]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [12]:
X.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [13]:
X.shape

(712, 7)

In [14]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [15]:
y.shape

(712,)

In [16]:
X = pd.get_dummies(X, columns=['Pclass', 'Sex', 'Embarked'])

In [17]:
X.head()

,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,22.0,1,0,7.2500,0,0,1,0,1,0,0,1
1,38.0,1,0,71.2833,1,0,0,1,0,1,0,0
2,26.0,0,0,7.9250,0,0,1,1,0,0,0,1
3,35.0,1,0,53.1000,1,0,0,1,0,0,0,1
4,35.0,0,0,8.0500,0,0,1,0,1,0,0,1

In [18]:
y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [19]:
X.shape

(712, 12)

In [20]:
# X['Age_2'] = X['Age'] ** 2

In [21]:
# X['Pclass_1_Sex_male'] = X['Pclass_1'] * X['Sex_male']

In [22]:
# X['Pclass_2_Sex_male'] = X['Pclass_2'] * X['Sex_male']

In [23]:
# X['Pclass_3_Sex_male'] = X['Pclass_3'] * X['Sex_male']

In [24]:
from sklearn.model_selection import train_test_split

C:\Users\Goldy\AppData\Local\Programs\Python\Python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [26]:
from sklearn.svm import SVC, LinearSVC

In [27]:
model = LinearSVC()
model.fit(X_train, y_train)

c:\users\goldy\desktop\data_science\lib\site-packages\sklearn\svm\base.py:929: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [28]:
model.coef_

array([[-0.01283472, -0.21210692,  0.122002  , -0.00542439,  0.73589547,
         0.10966427, -0.42651069,  0.61044207, -0.19139302,  0.31017774,
         0.10179338,  0.00707793]])

In [29]:
model.score(X_test, y_test)

0.6993006993006993

In [30]:
y_predict = model.predict(X_test)

In [31]:
for i, y in enumerate(y_test):
    print("Actual:",y, "Predicted:", y_predict[i])

Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 1
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 1 Predicted: 0
Actual: 1 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 0
Actual: 0 Predicted: 1
Actual: 0 Predicted: 0
Actual: 1 Predicted: 1
Actual: 0 Predicted: 0

In [32]:
coef = model.coef_[0]
x_cols = X_train.columns
for i, col in enumerate(x_cols):
    print("Column:",col,"Coef:",coef[i])

Column: Age Coef: -0.012834719716027683
Column: SibSp Coef: -0.21210692188514568
Column: Parch Coef: 0.1220020039746724
Column: Fare Coef: -0.005424394794156203
Column: Pclass_1 Coef: 0.7358954686298859
Column: Pclass_2 Coef: 0.10966427390317914
Column: Pclass_3 Coef: -0.4265106901285588
Column: Sex_female Coef: 0.6104420677132681
Column: Sex_male Coef: -0.1913930153087889
Column: Embarked_C Coef: 0.3101777402019392
Column: Embarked_Q Coef: 0.10179338314639759
Column: Embarked_S Coef: 0.0070779290561485235

In [33]:
model.score(X_test, y_test)

0.6993006993006993

In [34]:
# df_test=pd.read_csv("test.csv", sep=',')

In [35]:
# df_test.dropna(inplace=True)

In [36]:
# X_test = df_test[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]

In [37]:
# X_test = pd.get_dummies(X_test, columns=['Pclass', 'Sex', 'Embarked'])

In [38]:
# X_test.head()

In [39]:
y_pred = model.predict(X_test)

In [40]:
y_pred

array([0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0], dtype=int64)

In [41]:
from sklearn.metrics import confusion_matrix


confusion = confusion_matrix(y_test, y_pred)

confusion

tn = confusion[0][0]
print(tn)

61

In [42]:
y_pred = model.predict(X_test)

In [43]:
for idx, y in enumerate(y_test):
    print('Real:' + str(y) + ' Predicted:'+str(y_pred[idx]))

Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:0
Real:0 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:1 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:1
Real:1 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:1
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:1 Predicted:0
Real:1 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:0
Real:0 Predicted:1
Real:0 Predicted:0
Real:1 Predicted:1
Real:0 Predicted:0

In [44]:
from sklearn.tree import DecisionTreeClassifier

C:\Users\Goldy\AppData\Local\Programs\Python\Python37\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [45]:
classfier = DecisionTreeClassifier()

In [46]:
classfier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [47]:
classfier.score(X_train, y_train)

0.9912126537785588

In [48]:
classfier.score(X_test, y_test)

0.7552447552447552

In [49]:
y_pred = classfier.predict(X_test)

In [50]:
print(y_pred)

[0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 0
 1 1 1 0 0 1 1 0 1 0 1 1 0 1 1 1 0 0 0 1 0 0 1 0 1 0 0 1 1 1 0 1 0 1 1 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 1 1 0 0 1 1 1 1 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0
 1 0 0 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 1 0 1 0 0 1 0 1 0]